.status {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.statusDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.statusText {
    font-size: 14px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
}